@model List<TravelBlog.Models.Suggestion>

<h2>Suggestions</h2>
<ul>
   @foreach (var suggestion in Model)
    {
        <li class="list-card">
            @Html.DisplayFor(modelSuggestion => suggestion.Description) |
            @Html.ActionLink("Edit", "Edit", new { id = suggestion.Id }) | @Html.ActionLink("Delete", "Delete", new { id = suggestion.Id })
            <br />
        </li>
    }
</ul>

<div class="list-card">

    <p>@Html.ActionLink("Add new suggestion", "Create")</p>
</div>
