@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<script type="text/javascript">
    $(document).ready(function () {
        $('.display-view').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("DisplayRegisterView", "Account")',
                success: function (result) {
                    $('#registerView').html(result);
                }
            });
        });
        $('.login-view').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("DisplayLoginView", "Account")',
                success: function (result) {
                    $('#loginView').html(result);
                }
            });
        });
    });

</script>



<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
}
else
{<div class="list-card">
    <button class="display-view">Register</button>
    <button class="login-view">Login</button>
    <div id="registerView"></div>
    <div id="loginView"></div>
</div>
}
